* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  max-width: 1550px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: 0 2px 6px #08a05ca4;
  padding: 0 15px;
  box-sizing: border-box; 
}

/*----------------HEADER----------------*/
header{

  margin-top: 5px;
  width: 97%;
  min-height: 100%;
  max-width: 1530px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-sizing:border-box;
  background-color: rgba(42, 180, 0, 0.288);
  box-shadow: 0 5px 10px #08a05c50;
}

a {
  color:black;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover{
  color: #08a05c;
}
li{
  list-style: none;
}
header ul{
  display: flex;
  padding: 0;
  margin: 0;
}
header ul li {
  padding: 0 1rem;
}
header ul li a{
  font-weight: bold;
}
header .cart{
  position: relative;
  cursor: pointer;
}
header .cart box-icon{
  width: 45px;
  height: 45px;
}
header .cart span {
  position: absolute;
  top: -1rem;
  right: -1.5rem;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0rem;
  font-style: 1.5rem;
  font-weight: 700;
  background-color: crimson;
}
/*----------------FOOTER----------------*/
.site-footer
{
  width: 95%;
  background-color:#434344;
  padding:15px 20px 20px 20px;
  margin-bottom: 10px;
  font-size:17px;
  line-height:15px;
  color:#979696;
  border-radius: 10px;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:0px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:center;
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:42px;
  margin-left:10px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  text-align: center;
  margin:0 4px 10px;
  padding: 10px auto;
}
@media (max-width:991px)
{
  .site-footer [className^=col-]
  {
    margin-bottom:20px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
/*------------------ INICIO --------------------*/
.inicio{
  width: 100%;
  margin: 0 auto;
  padding-top: 5rem;
}
.inicio h1{
  font-size: 2rem;
  color: #08a05c;
}
.inicio img{
  width: 97%;
}


/*-------------------PRODUCTOS------------------*/
.title{
  font-size: 2rem;
  padding: 5rem 0 0 0;
  color: #08a05c;
}
.productos{
  padding: 3rem 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 5rem 2rem;
  box-sizing: border-box;
}
.producto {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, .2);
  border: 6px solid transparent;
  border-radius: 5px;
}
.producto:hover{
  box-shadow: 0 0 1rem rgba(34, 34, 34, 0.678);
  transform: scale(1.1);
}
.producto__img img{
  width: 200px;
}
.producto__footer{
  padding: 1rem;
}
.producto__footer h1{
  font-weight: 600;
  font-size: 1.5rem;
  color:#1a202c;
  font-family: Helvetica, sans-serif;
}
.producto__footer p{
  font-weight: 700;
  color: rgba(0, 0, 0, 555);
  text-transform: uppercase;
  font-size: 18px;
}
.producto__footer .price{
  font-size: 2rem;
  color: #eb0000;
  }
.producto .buttom{
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 2rem 5rem;
}
.buttom .btn{
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
}
.buttom button{
 background-color: #292ce2d8;
 max-width: 200px;
 width: 100%;
 font-size: 1.2rem;
 color: white;
 font-weight: 600; 
 padding: 0 1rem;
 margin: 0;
}
.buttom div {
  background-color: #08a05c;
  display: grid;
  max-width: 200px;
  text-align: center;
  align-items: center;
  margin-left: -4rem;
  border-radius: 5px;
} 
.buttom div a{
  color: white;
  font-weight: 700;
}
.buttom div a:hover{
  color:white;
}
/*------------------CARRITO-----------------*/
.carritos{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, .6);
  z-index: 2;
  padding-bottom:5rem;
  visibility: hidden;
}
.carrito {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
  scale(1);
  width: 60%;
  height: 80%;
  border-radius: 8px;
  overflow-x:scroll;
  transition: all 300ms ease-in-out;
  background-color: white;
  opacity: 0;
  visibility: hidden;
}
.carrito h2{
  text-align: center;
  font-size: 2rem;
}
.carritos.show{
  visibility: visible;
}
.carrito.show{
  transform: translate(-50%, -50%)
  scale(1.1);
  opacity: 1;
  visibility: visible;
}
.carrito__close box-icon{
  display: inline-block;
  width: 50px;
  height:50px;
  cursor: pointer;
  transform: all 300ms ease-in-out;
  margin: 3rem 0 0 2rem;
}
.carrito__close box-icon:hover{
 fill: crimson;
}
.carrito__center {
  width: 90%;
  margin: 0 auto;
}
.carrito__item{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  width: 80%;
  margin: 2rem auto;
  box-shadow: 0 1px 10px #08a05c;
  border-radius: 5px;
}
.carrito__item img{
  width: 9rem;
}
.carrito__item h3{
  margin-top: 1.5rem;
  font-family: Helvetica, sans-serif;
  font-size: 1.5rem;
}
.carrito__item .price{
  color: #d80202;
  font-size: 2rem;
  font-weight: bold;
  text-align: start;
  margin-left: 1rem;
}
.carrito__item box-icon{
  fill: #08a05c;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-top: .5rem;
}
.carrito__item .cantidad{
  font-size: 2rem;
  font-weight: bold;
}
.carrito__item .remove__item box-icon{
  width: 50px;
  height: 80px;
  fill: crimson;
  margin-top: 2rem;
}
.carrito__footer{
  text-align: center;
  margin-bottom: 3rem;
}
.carrito__footer h3{
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.carrito__footer .btn{
  display: inline-block;
  padding: .5rem 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: #08a05c;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 10px;
}
.carrito__footer .btn:hover{
  background-color: #0f5c39;
  color:rgb(184, 252, 215)
}
.carrito__footer .pagar{
  width: 80%;
  height: 80%;
  margin-left: 10%;
  margin-bottom: 20px;
  background-color: #3870f1;
  border-radius: 10px;
  color: rgb(233, 232, 232);
}

/*-----------------DETALLES PRODUCTOS----------------*/
.detalles {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 1rem 0 1rem;
  box-sizing: border-box;
}

.detalles h2{
  text-align: center;
  font-size: 2rem;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  font-family: Helvetica, sans-serif;
}

.detalles .price{
  margin: 2rem 0;
  text-align: center;
  font-size: 3rem;
  width: 100%;
  font-weight: 600;
  color: #ce0303;
}

.detalles button{
  max-width: 180px;
  margin: 1rem 0 0 0;
  padding: 1rem 1rem ;
  border: none;
  outline: 0;
  background: #3033d3;
  font-size: 1rem;
  color:white;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
}
.detalles button:hover{
  box-shadow: 0 0 1rem rgba(34, 34, 34, 0.678);
  transform: scale(1.1);
}

.detalles .grid{
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 1rem 1rem;
  max-width: 150px;
}

.detalles .grid > .nuevo, .size{
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  color:white;
}

.detalles .grid .nuevo{
  background-color:#08a05c;
}

.detalles .grid .size{
  background-color:#f1365b;
  display: flex;
}

.detalles .grid .size select{
  border: none;
  outline: 0;
  font-size: 1.5rem;
  background-color: #f1365b;
  color:white;
  cursor: pointer;
}

.detalles img{
  max-height: 400px;
  object-fit: contain;
  margin-top: -7rem;
  z-index: -1;
}

.detalles input{
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 2rem;
}

.detalles .description{
  font-size: 1.1rem;
  max-width: 1300px;
  width: 100%;
  letter-spacing: 1px;
  color: #5f5d5d;
  margin: 0 auto;
  font-weight: 500;
}

.detalles .description b{
  font-size: 1.4rem;
  color: #30333a;
}

.relacionados {
  text-align: center;
  background: #2e2e2e;
  color:white;
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
/*--------------------WHATSAPP--------------*/
.btn-flotante {
	font-size: 5px; /* Cambiar el tamaño de la tipografia */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius:100%; /* Borde del boton */
	background-color: #069219; /* Color de fondo */
	padding: 10px 10px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.btn-flotante:hover {
  color:white;
	background-color: #069219; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 18px;
		padding: 12px 10px;
		bottom: 20px;
		right: 20px;
	}
} 
/*-------------------MEDIA------------------*/
@media only screen and (max-width: 1000px){
  .carrito__item {
    width: 92%;
  }
}

@media only screen and (max-width: 700px){
  .carrito__item {
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  .carrito__item h3{
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 600px){
  header ul {
    display:none;
  }
}
@media only screen and (max-width: 450px){
  .carrito__item h3 {
    display: .5rem;
  }
  .carrito__item .remove__irem box-icon{
    width: 30px;
    height: 70px;
  }
}